.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(241, 241, 241);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    position: absolute;
    top: 15vh;
    width: 193px;
    height: 80px;

    * {
      width: 193px;
      height: 80px;
    }
  }

  img {
    width: 100vw;
    height: 40vh;

  }
}

.unia {
  width: 80vw;
  margin-top: 20px;

  img {
    width: 100%
  }
}

.section {
  margin-top: 20px;
  padding: 20px 10px;
  background-color: rgb(241, 241, 241);
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  * {
    color: rgb(121, 121, 121);
    line-height: 1.6em;
    grid-column: span 12;
  }

  h4 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.3em;
  }


  img {
    width: 100%;
  }


  .button {
    width: 200px;
    height: 50px;
    background-color: rgb(43, 23, 16);
    color: white;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(20, 11, 8);
      cursor: pointer;
    }
  }

  &:nth-child(even) {
    background-color: rgb(224, 224, 224)
  }
}

@media screen and (min-width:768px) {
  .section {
    padding: 20px 10px;

    * {
      color: rgb(121, 121, 121);
      line-height: 1.6em;
      grid-column: 2/ 12;
    }

  }

  .header {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;



    img {
      width: 100vw;
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .logo {
      position: absolute;
      top: 18vh;
      width: 363px;
      height: 150px;

      * {
        width: 363px;
        height: 150px;
      }
    }
  }

}

@media screen and (min-width:1200px) {
  .section {
    padding: 20px 10px;

    * {
      color: rgb(121, 121, 121);
      line-height: 1.6em;
      grid-column: 3/ 11;
    }

  }

  .header {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;



    img {
      width: 100vw;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .logo {
      position: absolute;
      top: 40vh;
      width: 480px;
      height: 200px;

      * {
        width: 480px;
        height: 200px;
      }
    }
  }

  .unia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
  }
}