.social {
    position: fixed;
    top: 60vh;
    right: 0;
    display: none;

    ul {
        padding: 0px;
        -webkit-transform: translate(250px, 0);
        -moz-transform: translate(250px, 0);
        -ms-transform: translate(250px, 0);
        -o-transform: translate(250px, 0);
        transform: translate(250px, 0);

        li {
            display: block;
            margin: 5px;
            width: 300px;
            text-align: left;
            padding: 10px;
            -webkit-border-radius: 15px 0 0 15px;
            -moz-border-radius: 15px 0 0 15px;
            border-radius: 15px 0 0 15px;
            -webkit-transition: all .8s;
            -moz-transition: all .8s;
            -ms-transition: all .8s;
            -o-transition: all .8s;
            transition: all .8s;
            cursor: pointer;

            &.facebook {
                background-color: #3b5998;
            }

            &.instagram {
                background-color: #C13584;
            }

            &.youtube {
                background-color: #FF0000;
            }

            a {
                text-decoration: none;
                color: white;

                svg {
                    font-size: 2em;
                    color: white;
                    margin-right: 17px;
                }
            }







            p {
                position: relative;
                margin-right: 10px;
                display: inline;
                bottom: 5px;
            }

            &:hover {
                -webkit-transform: translate(-90px, 0);
                -moz-transform: translate(-90px, 0);
                -ms-transform: translate(-90px, 0);
                -o-transform: translate(-90px, 0);
                transform: translate(-90px);





            }


        }
    }
}

@media screen and (min-width:1200px) {
    .social {
        display: inline;
    }

}