.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    transition: all .1s linear;

    .disqus {
        width: 100%;
        height: auto;
        padding: 20px 5px;
    }

    .arrowContainer {
        position: absolute;
        left: 10px;
        top: 170px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        cursor: pointer;

        &:hover {
            .leftArrow {
                transform: scale(1.2);

            }

            a {
                transform: scale(1.2);
            }
        }

        .leftArrow {
            transition: all .1s linear;

            font-size: 1em;
            color: rgb(110, 110, 110)
        }

        a {
            transition: all .1s linear;
            color: rgb(110, 110, 110);
            position: relative;
            bottom: 1px;
            left: 5px;
            font-size: 0.9em;
        }
    }


    .post {
        padding: 0;
        margin-top: 0;
        background-color: rgb(241, 241, 241);
        width: 100vw;


        div {
            transition: all .1s linear;
            width: 100%;
            padding: 20px 20px;

            header {
                padding-top: 30px;

                p {

                    font-size: 0.8em;
                    font-weight: 1000;
                    color: rgb(113, 158, 255)
                }

                h2 {
                    font-size: 1.4em
                }

                section {
                    p {
                        font-size: 0.8em;
                        color: rgb(155, 155, 155);
                    }
                }

            }

            footer {
                display: flex;
                align-items: flex-start;
                padding: 0;

                .authorImage {
                    width: 40px;
                    height: 40px;

                    img {
                        padding: 0;
                        display: block;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 100%;
                        width: 40px;
                        height: 40px;
                    }
                }

                .content {
                    padding-left: 25px;
                    margin-top: -12px;
                    font-size: 0.8em;
                    font-weight: 700;
                    display: inline;

                    .author {
                        p {
                            margin-bottom: 0
                        }
                    }

                    .time {
                        color: rgb(156, 156, 156);

                        time {
                            font-weight: 500;
                        }

                        span {
                            font-weight: 500;
                        }
                    }
                }
            }

            .imageContainer {
                position: relative;
                right: 10%;
                width: 120%;
            }

            div {
                transition: all .1s linear;

                * {
                    padding: 10px 0
                }

                figure {
                    iframe {
                        width: 100%;
                        height: 200px;

                    }
                }


            }

            img {
                transition: all .1s linear;

                width: 100%;
                height: auto;
            }

            pre {
                transition: all .1s linear;

                background-color: rgb(209, 209, 209);
            }
        }

        &:nth-child(2) {
            background-color: rgb(241, 241, 241);

        }
    }
}

@media screen and (min-width:768px) {
    .main {
        .arrowContainer {
            left: 100px;
            top: 180px;

        }

        .disqus {
            width: 100%;
            height: auto;
            padding: 20px
        }

        .post {
            div {
                padding: 20px 150px;

                div {
                    padding: 30px 0;

                    figure {
                        iframe {
                            height: 300px;
                        }
                    }
                }

                figure {
                    div {
                        padding: 10px;

                    }

                    img {
                        width: 100%;
                        height: auto
                    }


                }

            }
        }
    }
}

@media screen and (min-width:1024px) {
    .main {


        .post {
            div {


                div {


                    figure {
                        iframe {
                            height: 400px;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width:1200px) {
    .main {
        .arrowContainer {
            left: 160px;
            top: 190px;
        }

        .disqus {
            width: 100%;
            height: auto;
            padding: 20px 170px;
        }

        .post {
            div {
                padding: 30px 270px;

                div {
                    padding: 50px 0;

                    figure {
                        iframe {
                            height: 450px;
                        }
                    }
                }

                figure {
                    div {
                        padding: 10px;
                    }

                    img {
                        width: 100%;
                        height: auto
                    }
                }

            }
        }
    }
}

@media screen and (min-width:1500px) {
    .main {
        .arrowContainer {
            left: 300px;
            top: 190px;
        }

        .disqus {
            width: 100%;
            height: auto;
            padding: 20px 350px;
        }

        .post {
            div {
                padding: 30px 400px;

                div {
                    padding: 50px 0;
                }

                figure {
                    div {
                        padding: 10px;
                    }

                    img {
                        padding: 20px 0;
                    }
                }

            }
        }
    }
}

@media screen and (min-width:1600px) {
    .main {
        .arrowContainer {
            left: 400px;
            top: 190px;
        }

        .post {
            div {
                padding: 30px 500px;

                div {
                    padding: 50px 0;

                    figure {
                        iframe {
                            height: 500px;
                        }
                    }
                }

                figure {
                    div {
                        padding: 10px;
                    }

                    img {
                        padding: 20px 0;
                    }
                }

            }
        }
    }
}